<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_name">
      <b><em><%= comment.name %></em></b>
    </p>

    <p class="comment_body">
      <%= comment.body %>
    </p>

    <p class="comment_title">
      <%= time_ago_in_words comment.created_at %>
    </p>
  </div>
  <% if user_signed_in? %>
      <p><%= link_to 'Delete comment', [comment.post, comment], :method => :delete, :class => 'button', data: {confirm: 'Are you sure'} %></p>
  <% end %>
  <hr>
</div>