<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'av3.png' %>
  </div>
  <div id="content">
    <h1>Hi! I am Udit Kapahi</h1>
    <p>Hi there. I am Udit.

      I admire art and creativity, fuse it with different technologies and create awesome user experience. I am a tireless seeker of knowledge and also coincidently, a good human being. I love science and curiosity drives me crazy.

      With experience in Android, Augmented Reality, Gaming, Web Development , Cartography, UX/UI Design and few business and marketing skills, I maintain a healthy balance between functionality and visual impact in all my work.

      My first entrepreneurial venture was CampusPlugin.com which was India's first social hub built for students.(Acclaimed by various news articles) Since then I've started several companies : Phantasmist , a Digital Design Agency based in India catering to various technological related solutions.

      There's an entrepreneurial spirit inside me which constantly pushes me to grow big, think new and dream big. Currently, I am gaining experiences at SquareYards about various operations at different verticals.

      I've worn many hats since my college time and recently there's another, I was awarded as a Pillar in technology by SquareYards.

      Some topics you can't get me to shut up about: technology, art , science, DIY projects, hacks, java , augmented reality, virtual reality, business development, user experience, travel, content strategy, space,planets and Lamborghini

      Want to have a chat? Drop me an email and we can talk till the cows come home.</p>
  </div>
</div>