<% @posts.each do |post| %>
    <div class="post_wrapper">
      <h2 class="title">
        <%= link_to post.title, post_path(post.id) %>
      </h2>


      <p class="body">
        <%=  truncate(post.content, :length => 100) %>
      </p>

      <p class="date">
        <%= time_ago_in_words post.created_at %> ago
      </p>
    </div>
<% end %>